@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=Open+Sans&display=swap');

.App {
  text-align: center;
  height: 100%;
  width: 100%;
}
html {
  font-size: 62.65%;
}
body {
  background-color: #191818;
  font-family: 'Open Sans', sans-serif;
}
body::-webkit-scrollbar-thumb {
  background-color: #0077ff;
  border-radius: 15px;
}
body::-webkit-scrollbar {
  width: 20px;
}
body::-webkit-scrollbar-track {
  background-color: #191818;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}
.noSticky {
  position: relative;
}
.sticky {
  position: fixed;
}
.minimize {
  max-height: 40px !important;
  max-width: 200px !important;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Noto Sans JP', sans-serif;
}
p,li,ul,div,a {
  font-family: 'Open Sans', sans-serif;
}
.mainLoadingContainer{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 45%;
    left: 45%;
}

.loadingBar {
    width: 100px;
    height: 5px;
    position: relative;
  }
  .loadingBar::after {
      content: '';
      height: 5px;
      position: absolute;
      left: 0;
      background-color: red;
  }
  .highcharts-credits {
    display: none !important;
  }